html {
    background-color: #F5D3C8;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    background-color: #F5D3C8;
}

#Welcome {
    grid-column: 1/4;
    grid-row: 1;
    justify-items: center;
    background-color: white;
    margin: 200px 100px ;
    border-radius: .5em;
    text-align: center;
    color: black;
}

.interests {
    width: 100%;
    grid-column: 1/3;
    grid-row: 3;
    justify-items: center;
}

#i {
    justify-items: center;
    padding: auto;
    background-color: white;
    padding: 2em;
    border-radius: 1em;
    margin-top: 100px;
}

#logo {
    max-width: 80px;
    max-height: 100px;
    grid-column: 1;
    grid-row: 1;
}

header {
    background-color: #565857;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1;
    border-radius: 1em;
    overflow: hidden;
}

#nav {
    grid-column: 3/5;
    text-align: center;
    margin: auto;
}

#nav nav {
    display: flex;
    gap: 30px;
}

.button {
    background-color: #734B5E;
    padding: 5px;
    border-radius: .5em;
    text-decoration: none;
}

nav {
    font-family: "Noto Sans";
    text-decoration: none;
    color: white;
}

nav a {
    font-family: "Noto Sans";
    text-decoration: none;
    color: white;
}

h1 {
    display: flex;
    font-family: "BBH Sans Hegarty";
    grid-column: 1/3;
    grid-row: 1;
    margin: auto;
    justify-content: center;
    margin-left: 125px;
    color: white;
}

h2 {
    font-family: "BBH Sans Hegarty";
    justify-content: center;
    color: black;
}

p {
    font-family: "Noto Sans"; 
}

#picture {
    grid-row: 3;
    grid-column: 3/6;
    text-align: center;
}

#picture img {
    max-width: auto;
    max-height: 500px;
    border: solid black 3px;
}

#table {
    grid-column: 2/5;
    grid-row: 2;
}

#tables {
    margin: 150px auto;
    width: 75%;
}

.skills {
    text-align: center;
    grid-column: 2/5;
    grid-row: 4;
    margin: auto;
}

.touch {
    text-align: center;
    grid-row: 5;
    grid-column: 2/5;
    margin: auto;
}

.footer {
    display: flex;
    background-color: #BCBDC0;
    gap: 2em;
    border-radius: 1em;
    align-items: auto;
}

.social {
    margin: auto;
}

.ice {
    justify-self: center;
}

#apostle {
    grid-row: 2;
    grid-column: 1;
}

#gallery {
    grid-column: 3;
    grid-row: 2;
}

#flags {
    grid-column: 5;
    grid-row: 2;
}

#halloween {
    grid-column: 1;
    grid-row: 3;
}

#positioning {
    grid-column: 3;
    grid-row: 3;
}

#prophet {
    grid-column: 5;
    grid-row: 3;
}

#signup {
    grid-column: 3;
    grid-row: 4;
}
#my {
    grid-column: 2/5;
    grid-row: 1;
    place-self: center;
}

#gallery,
#apostle,
#flags,
#halloween,
#positioning,
#prophet,
#signup {
    text-align: center;
    margin: auto;
}

#gallery a,
#apostle a,
#flags a,
#halloween a,
#positioning a,
#prophet a,
#signup a {
    text-decoration: none;
    background-color: #BCBDC0;
    padding: 10px;
    border-radius: 1em;
    color: black;
}

#about {
    display: grid;
    grid-template-rows: 2fr 1fr;
    text-align: center;
    
}

#me {
    grid-row: 1;
    height: 400px;
    width: auto;
    margin: 50px auto;
    place-items: center;
}

#meabout {
    grid-row: 2;
}