main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    background-color: #F5D3C8;
}

#Welcome {
    width: 100%;
    grid-column: 1/4;
    grid-row: 1;
    justify-items: center;
    padding: 150px 2em 2em 2em;
}

.interests {
    width: 100%;
    grid-column: 1/3;
    grid-row: 3;
    justify-items: center;
    padding: auto;
}

#logo {
    max-width: 80px;
    max-height: 100px;
    grid-column: 1;
    grid-row: 1;
}

header {
    background-color: #565857;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1;
}

#nav {
    grid-column: 3/5;
    text-align: center;
    margin: auto;
}

#nav nav {
    display: flex;
    gap: 30px;
}

.button {
    background-color: #734B5E;
    
}

nav {
    font-family: "Noto Sans";
}

h1 {
    display: flex;
    font-family: "BBH Sans Hegarty";
    grid-column: 1/3;
    grid-row: 1;
    margin: auto;
    justify-content: center;
}

p {
    font-family: "Noto Sans"; 
}

#picture {
    grid-row: 3;
    grid-column: 3/6;
    text-align: center;
}

#picture img {
    max-width: 300px;
    max-height: 300px;
}

#table {
    grid-column: 2/5;
    grid-row: 2;
}

#tables {
    margin: 150px auto;
    width: 75%;
}

.skills {
    text-align: center;
    grid-column: 2/5;
    grid-row: 4;
    margin: auto;
}

.touch {
    text-align: center;
    grid-row: 5;
    grid-column: 2/5;
    margin: auto;
}

.footer {
    display: flex;
    background-color: #BCBDC0;
    gap: 2em;
}

.social {
    margin: auto;
}